# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Quarto and R Markdown Cache Directories
*_cache/
/cache/

# Temporary Files Created by R Markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Content Folder Files
content/**/output/.*.rds
content/**/slides/**/_cache
